* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  padding: 0 2%;
  .header {
    padding: 1rem 0;
    .heade--menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      .burger--icon {
        i {
          padding: 10px;
          background-color: gray;
          color: #fff;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
  }
}
